html {
    border-width: 4px;
    border-style: none;
    margin: 15px;
    padding: 4px;
    background-color:rgb(150, 97, 77)
 }
 
 body {
 border-width: 4px;
 border-style: solid;
 margin: 5px;
 padding: 4px;
 font-size: 20px
 }

 section {
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content:center;
    align-items: flex-end;
    
 }
 
    
    nav ul {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding:1px;
    list-style-type: none;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    border-color:rgb(150, 97, 77)
    }
    
     ul li {
    list-style-type: none;
    
     }
     li {
        border-style: solid; border-color:rgb(150, 97, 77);
        align-items: center;
        text-align: center;
     }
    
    
     a:link {
       border:0px solid;
    color: black;
    text-decoration:none
     }
     a:visited {
       color:green;
     }
     a:hover {
        color:rgb(97, 38, 11);
        text-decoration:wavy ;
     }
     a.active {
        background-color:white;
        text-decoration:underline;
     }